/* ------------------------------------------------------------- */
/* General */

:root {
    --color-1: #36454f;
    --color-2: #6e7f80;
    --color-3: #f7f7f7;
    --color-4: #eaedf3;
    --color-link: #334c8c;

    --font-size-s: 13px;
    --font-size-sm: 14px;
}

html, body {
    padding: 0;
    margin: 0;
    /* width: 100vw;
    height: 100vh; */
    font-family: Raleway, sans-serif;
}


h1 {
    font-size: 19px;
    font-weight: 100;
    color: var(--color-1);
    margin: 0;
}

h2 {
    font-size: 19px;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-size: 16px;
    font-weight: 100;
}

.ct {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 12px;
}

.grid {
    display: grid;
}

ul {
    list-style-type: none;
}

.ul-vertical {
    padding-left: 0;
}

.ul-vertical li {
    margin: 9px auto;
}

p > i.fas, p > i.fa, p > i.far,
a > i.fa, a > i.fas, a > i.far,
li > i.fa, li > i.fas, li > i.far {
    margin-right: 7px;
}

.tags-ct .tag {
    margin-bottom: 6px;
}

code {
    display: inline-block;
    background: var(--color-4);
    color: var(--color-1);
    border-radius: 2px; 
    padding: 2px 8px;
    font-size: var(--font-size-sm);
    line-height: initial;
    font-family: inherit;
    margin-bottom: 3px;
}

hr {
    border: solid 1px var(--color-3);
}

img {
    color: var(--color-2);
    font-size: var(--font-size-s);
}

a, a:visited, a:active {
    color: var(--color-link);
}

/* ------------------------------------------------------------- */
/* Header */

header {
    box-sizing: border-box;
    border-bottom: solid 1px var(--color-2);
}

header > .ct > * {
    height: 80px;
    align-items: center;
}

header h1 {
    display: inline-flex;
}

header nav {
    float: right;
    display: inline-flex;
}

@media screen and (max-width: 570px) {
    header nav {
        display: none;
    }
}

header nav li {
    display: inline-block;
    margin: 0 9px;
}

/* ------------------------------------------------------------- */
/* Main */

main > section {
    margin: 34px auto;
}

section.sec-main.grid {
    grid-template-columns: minmax(auto, 280px) 2fr;
}

@media screen and (max-width: 700px) {
    section.sec-main.grid {
        display: block;
    }
}

.sec-profile > h3 {
    margin-bottom: 36px;
}

ul.grid.list-work {
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    column-gap: 18px;
    padding: 0;
}

@media screen and (max-width: 860px) { 
    ul.grid.list-work {
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, auto);
        row-gap: 20px;
    }
}

ul.grid.list-work a {
    text-decoration: none;
}

ul.grid.list-work > li {
    box-sizing: border-box;
    max-width: 220px;
}


.list-work p.location {
    color: var(--color-2);
    margin-top: 10px;
    font-size: var(--font-size-s);
}

.list-work h3 {
    color: var(--color-1);
    margin-bottom: 10px;
}

.list-work .img-ct {
    margin: 16px auto;
    padding: 8px 0;
}

.sec-description p {
    color: var(--color-1);
    font-size: 17px;
    line-height: 28px;
}

.img-ct.client-assetmax {
    background: var(--color-2);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------- */
/* Footer */

footer {
    background: var(--color-1);
    color: var(--color-3);
    padding-top: 38px;
    padding-bottom: 122px;
    
}

footer > .grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 18px;
}

@media screen and (max-width: 570px) {
    footer > .grid {
        display: block;
    }

    footer > .grid > section {
        margin-bottom: 32px;
    }
}

footer h2 {
    margin-bottom: 34px;
}

footer p {
    font-size: var(--font-size-s);
    margin: 8px auto;
}

footer a, footer a:visited, footer a:active {
    color: var(--color-3);
}